@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sejá bem vindo ao SpaceSystem</h1>

    <p>Projeto CRM código Aberto para estudo. Consumindo API usando <a href="https://github.com/Fagner-Goncalves-DevOps/AspNetCoreMvc-ConsumoApi-Full">tecnologia ASP.NET Core Mvc</a>.</p>

    <p>Api de consumo usada no projeto é <a href="https://github.com/Fagner-Goncalves-DevOps/WebApiDDD-SpaceSystem">Api-Net.5.0 Domain Driven Design</a>.</p>

</div>
